<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
	<PropertyGroup>
		<Configuration>Debug</Configuration>
		<Platform>Any CPU</Platform>
		<PublishDir>Platform_OpenView/publish</PublishDir>
		<PublishProtocol>FileSystem</PublishProtocol>
		<TargetFramework>net8.0</TargetFramework>
		<RuntimeIdentifier>linux-arm</RuntimeIdentifier>
		<SelfContained>true</SelfContained>
		<PublishReadyToRun>true</PublishReadyToRun>
		<PublishSingleFile>false</PublishSingleFile>
	</PropertyGroup>
</Project>